@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Noto+Sans+Display:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Nunito:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
     font-family: "Nunito", "sans-serif";
}

main {
     color: #012532;
     color: #071b24;
     color: #b51f06;
     color: #506e75;
     color: #37a3a9;
     color: #533b37;
     color: #0f3e4a;
     color: #565f54;
     color: #498a9e;
     color: #b29c87;
}

     /* #418a95 */
     /* #c42205 */
     /* #776b6a */
     /* #b5aba0 */
     /* #b5aba0 */