@tailwind base;
@tailwind components;
@tailwind utilities;

/* main {
     color: #012532;
     color: #071b24;
     color: #b51f06;
     color: #506e75;
     color: #37a3a9;
     color: #533b37;
     color: #0f3e4a;
     color: #565f54;
     color: #498a9e;
     color: #b29c87;
} */

     /* #418a95 */
     /* #c42205 */
     /* #776b6a */
     /* #b5aba0 */
     /* #b5aba0 */