.home {
     background: url("../Img/IMG-20230416-WA0003.jpg") #141415;
     background-blend-mode: multiply;
     background-size: cover;
     position: fixed;
     background-position: top;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}
.links{
     position: relative;
}

.links::after {
     content: "";
     width: 50%;
     height: 3px;
     background-color: #af5c3b;
     position: absolute !important;
     bottom: -4px;
     border-radius: 2px;
     left: 0px;
}

.svg_text{
     fill: currentColor;
     height: auto;
     max-width: 66vmin;
     transform-origin: center;
     width: 66%;
}

.about_section::-webkit-scrollbar,
.projects_section::-webkit-scrollbar,
.technology_section::-webkit-scrollbar,
.experience_section::-webkit-scrollbar,
.contact_section::-webkit-scrollbar
{
     width: 6px;
     border-radius: 3px;
}

.about_section::-webkit-scrollbar-track,
.projects_section::-webkit-scrollbar-track,
.technology_section::-webkit-scrollbar-track,
.experience_section::-webkit-scrollbar-track,
.contact_section::-webkit-scrollbar-track {
     background-color: #f4ddce;
     border-radius: 2px;
     box-shadow: inset 0 0 5px grey;
}

.about_section::-webkit-scrollbar-thumb,
.projects_section::-webkit-scrollbar-thumb,
.technology_section::-webkit-scrollbar-thumb,
.experience_section::-webkit-scrollbar-thumb,
.contact_section::-webkit-scrollbar-thumb {
     background-color: #af5c3b;
     border-radius: 3px;
}

.header_icon{
     top: -111px;
     left: -53px;
}

.header_img {
     position: absolute;
     left: 15px;
     top: 14px;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.header_img2 {
     font-family: "Dancing Script", "sans-serif";
     font-size: 1.1rem;
     font-weight: 700;
}

.cta{
     position: relative;
     left: 15px;
     top: -35px;
}

.cta_text{
     transform-origin: 0 0;
     transform: rotate(90deg);
     width: 100px;
     font-size: .7rem;
     padding-top: .5rem;
}

.name{
     font-family: "Dancing Script", "sans-serif";
}

.my_image{
     top: 20px;
     right: 22px;
     width: 280px;
}

.project_border{
     position: absolute;
     top: -90px;
     left: -100px;
}

.project_div{
   position: relative;
   animation: project .3s;
   animation-timing-function: linear;
   overflow: hidden;
   border-left: 4px solid #af5c3b;
   border-radius: 1px;
}

.project_icon{
     transform: rotate(225deg);
     position: relative;
     bottom: 223px;
     right: -113px;
     z-index: -99;
}

.border_gradient{
     border-bottom: #af5c3b 2px solid;
     color: #af5c3b !important;
}

@keyframes project {
   0% {
     transform: perspective(900px) rotateY(0);
   }
  100% {
   transform: perspective(900px) rotateY(-90deg);
    }
}

._input_icon {
     left: 15px;
     top: 12px;
}

._input_text {
     position: absolute !important;
     pointer-events: none;
     left: 45px;
     top: 8.5px;
     transition: 0.7s;
     transform-origin: 0 50%;
}

._input_element:focus~._input_text,
._input_element:not(:placeholder-shown)~._input_text {
     transform: translateX(-15px) translateY(-15px) !important;
     padding: 0 0.8rem;
     background-color: #070b0e;
     transition: 0.7s;
     border-radius: 10px;
     color: #af5c3b;
     font-size: .7rem;
     font-weight: 700;
}

._input_element:focus~._light_mode,
._input_element:not(:placeholder-shown)~._light_mode {
     background-color: #f4ddce;
}

._input_element:focus~._input_icon{
     color: #af5c3b;
}