.home {
     background: url("../Img/Gloria.jpg"), linear-gradient(#2f3336, #424549);
     background-blend-mode: multiply;
     background-size: cover;
}

.header_light{
     position: relative;
     /* background: #f4ddce; */
}

.card_shadow {
     box-shadow: inset -10px -10px 15px 0px #14181b, inset 10px 10px 15px #14181b;
}

.card_shadow_light {
     box-shadow: inset -10px -10px 15px #da9e9a, inset 10px 10px 15px #df8983;
     color:#e28f89
}

.links{
     position: relative;
}

.links::after {
     content: "";
     width: 50%;
     height: 2px;
     background-color: #701b15;
     position: absolute !important;
     bottom: -4px;
     left: 0px;
}

.svg_text{
     fill: currentColor;
     height: auto;
     max-width: 66vmin;
     transform-origin: center;
     width: 66%;
}

.header_icon{
     top: -111px;
     left: -53px;
}

.header_img {
     position: absolute;
     left: 15px;
     top: 14px;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.header_img2 {
     font-family: "Dancing Script", "sans-serif";
     font-size: 1.1rem;
     font-weight: 700;
}

.cta{
     position: relative;
     left: 15px;
     top: -35px;
}

.cta_text{
     transform-origin: 0 0;
     transform: rotate(90deg);
     width: 100px;
     font-size: .7rem;
     padding-top: .5rem;
}

.name{
     font-family: "Dancing Script", "sans-serif";
}

.my_image{
     top: 20px;
     right: 22px;
     width: 280px;
}

.project_border{
     position: absolute;
     top: -90px;
     left: -100px;
}

.project_div{
   border-left: 4px solid #701b15;
   border-radius: 1px;
}

.project_icon{
     transform: rotate(225deg);
     position: relative;
     bottom: 223px;
     right: -113px;
     z-index: -99;
}

.border_gradient:hover {
     border-bottom: #701b15 2px solid;
     color: #701b15 !important;
}

@keyframes project {
   0% {
     transform: perspective(900px) rotateY(0);
   }
  100% {
   transform: perspective(900px) rotateY(-90deg);
    }
}

._input_icon {
     left: 15px;
     top: 12px;
}

._input_text {
     position: absolute !important;
     pointer-events: none;
     left: 45px;
     top: 8.5px;
     transition: 0.7s;
     transform-origin: 0 50%;
}

._input_element:focus~._input_text,
._input_element:not(:placeholder-shown)~._input_text {
     transform: translateX(-15px) translateY(-15px) !important;
     padding: 0 0.8rem;
     background-color: #070b0e;
     transition: 0.7s;
     border-radius: 10px;
     color: #701b15;
     font-size: .7rem;
     font-weight: 700;
}

._input_element:focus~._light_mode,
._input_element:not(:placeholder-shown)~._light_mode {
     background-color: #f4ddce;
}

._input_element:focus~._input_icon{
     color: #701b15;
}